$menu_background: #cea0eb;
$contact_us: #ff9a63;
$contact_us_pos: black;
$contact_color: #fff;
$contact_color_pos: white;
$encontre_background: #f1dbff;
$icons_color: black;
$icons_color_click: white;
$font_color: white;
$saiba_btn: #41aec2;
$saiba_background: #e0bff6;
$icons_dif: #fdb38c;